.load {
  margin: 0 auto;
  min-height: 100%;
  width: 100%;
  /* background: black; */
  background-image:radial-gradient( rgb(0 150 0 / 39%), black 120% );
}

@media (min-width: 400px) {
    .term {
        font-family: monospace;
        color: #ffffff;
        opacity: 0.8;
        font-size: 8em;
        overflow-y: auto;
        overflow-x: hidden;
        padding-top: 10px;
        padding-left: 20px;
        text-shadow: 0 0 5px #C8C8C8;
      } 
}
.term {
  font-family: monospace;
  color: #ffffff;
  opacity: 0.8;
  font-size: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 10px;
  padding-left: 20px;
  text-shadow: 0 0 5px #C8C8C8;
}

.term:after {
  content: "_";
  opacity: 1;
  animation: cursor 1s infinite;
}

@keyframes cursor {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* loader end */

/* normal css begins here */

.u-max-full-width {
    width: 100vw;
    height: 100vh;
}